{
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteStrictMode": false,
  "svelteBracketNewLine": false,
  "svelteAllowShorthand": false,
  "svelteIndentScriptAndStyle": true,
  "printWidth": 1000,
  "sxBracketSameLine": true,
  "overrides": [
    {
      "files": "App.svelte",
      "options": {
        "printWidth": 1000
      }
    },
    {
      "files": "Input.svelte",
      "options": {
        "printWidth": 600
      }
    },
    {
      "files": "Toggle.svelte",
      "options": {
        "printWidth": 600
      }
    }
  ]
}